

<table class="table table-light table-striped-columns">
<thead>
    <tr>
      <th scope="col">Name</th>
      <th>Number</th>
      <th>Email</th>
      
      
    </tr>
  </thead>

  
  <tbody>
      <tr>
               <th scope="row"><%= list.name %></th>
               <td><%= list.number %></td>
               <td><%= list.email %></td>
              
      </tr>
    
  </tbody>
</table>
