<p style="color: green"><%= notice %></p>

<h1>Contact directory</h1>

<div id="lists">
  <% @lists.each do |list| %>
    <%= render list %>
    
  <% end %>
</div>
<button type="button" class="btn btn-dark">
<%= link_to "Add New contact", new_list_path, class:"nav-link active" %>
</button>
<button type="button" class="btn btn-dark">

  <%= link_to "home page", root_path,  %>
  </button>
