


<h1>welcome to our directory</h1>


    

<ul class="nav nav-tabs">
<li class="nav-item">
<%= link_to 'ADD NEW', new_list_path, class:"nav-link active" %>
</li>
<li class="nav-item">
<%= link_to 'SEE DIRECTORY', lists_path , class:"nav-link active" %>
</li>
<li class="nav-item">
<%= link_to 'ABOUT US', new_list_path, class:"nav-link active" %>
</li>
</ul>